@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,800;1,400&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
}
.nav-section {
  max-width: 1170px;
  /* width: 1170px; */
  /* background-color: pink; */
  margin: 52px auto 49px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  /* min-width: none; */
}
.nav-container img {
  width: 48px;
  width: 46px;
  object-fit: cover;
}
.nav-container p {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
  padding-left: 16px;
}
.nav-container p span {
  color: #ff5400;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
  /* border: #ff5400 solid 2px; */
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 400;
}
.nav-links a span {
  color: #ff5400;
}

/* hero section start */
.hero {
  width: 1170px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(./Images/Group\ 13.png);
}

.hero-banner h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin: 106px auto 24px auto;
}
.hero-banner p {
  text-align: center;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}

.hero-action {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  display: flex;
  gap: 12px;
}

.hero-action button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  margin-left: 12px;
}
.hero-action input {
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
}

.hero-action select {
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
}

.hero-action input[type='text'] {
  width: 174px;
  height: 52px;
  /* padding: 5px; */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border-radius: 8px;
  border: none;
}

.hero-action select {
  width: 174px;
  height: 52px;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border-radius: 8px;
  border: none;
}

/* hero section end */

/* tour section starts */
.tours {
  margin: 0 auto;
  display: flex;
  max-width: 1170px;
  /* width: 1170px; */
  /* background-color: pink; */
  margin: 100px auto 100px auto;
}
/* tour section end */

.tours-left {
  padding-right: 53px;
}

.tours-right {
  width: 50%;
}
.tours-right img {
  width: 540px;
  height: 550px;
}

.tours h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
}

.tours p,
li {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.tours li {
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.tours button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  border: none;
}
.tours-last-para {
  padding-bottom: 32px;
}
/* destination grid section starts  */
.destination {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 100px;
}
.destination h2 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.destination p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 48px;
}

/* destination grid section ends */

/* services section starts here */

.services {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 100px;
}
.services-heading {
  text-align: center;
  color: #131318;
  margin-top: 32px;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}
.services-text {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 24px;
}
.services img {
  margin: 32px auto 0 32px;
}
.services h3 {
  margin: 32px auto 16px 32px;
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.services-para {
  margin: 16px auto 32px 32px;
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.services-cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.services-cards {
  margin-top: 48px;
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
}
.services-cards-color-1 {
  background: rgba(251, 181, 99, 0.05);
}
.services-cards-color-2 {
  background: rgba(41, 206, 246, 0.05);
}
.services-cards-color-3 {
  background: rgba(233, 68, 68, 0.05);
}
/* services section ends here */
.services-cards-last {
  margin: 24px auto auto auto;
}

/* media section stats here */

.media-container {
  max-width: 1170px;
  margin: 100px auto 100px auto;
  display: flex;
}
.media-container h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 150% */
}
.media-container p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 8px;
  margin-top: 24px;
}
.media-div-right {
  margin-right: 28px;
  width: 50%;
}
/* .media-list-container {
  margin: 0 16px auto 10px;
} */

/* .media-container {
} */
.media-div-right li {
  margin-left: 25px;
  color: #131318;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin: 16px 16px;
}

.media-container button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  border: none;
  margin-top: 16px;
}

.media-div-left {
  width: 610px;
  height: 424px;
  background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0) 100%),
    url(./Images/Group\ 40089.png);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-div-left span {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
}

/* videos section end here */
/* newsletter section starts here */

.newsletter {
  max-width: 1170px;
  margin: 0 auto;
}
.newsletter-container {
  display: flex;
  justify-content: space-between;
}

.newsletter-div-left {
  width: 40%;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.newsletter-div-left h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}
.newsletter-div-left p {
  margin-bottom: 24px;
}

.newsletter-div-right {
  width: 50%;
  width: 672px;
  height: 422px;
  border-radius: 20px;
  background: url(./Images/Rectangle\ 81.png), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  /* margin-right: 24px; */
}

.newsletter-discount-container {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #ff5400;
  margin-bottom: 52px;
  margin-right: 10px;
}
.newsletter-discount-text {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 400;
}

.newsletter-discount-text-2 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 32px;
  font-weight: 800;
}
/* newsletter section end here */

/* footer starts here */

.footer-container {
  /* width: 1440px; */
  height: 502px;
  background: rgba(19, 19, 24, 0.05);
}

.footer-container-logo {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 15px;
}
.footer-logo-icons {
  width: 48px;
  width: 46px;
  object-fit: cover;
}
.footer-logo {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
  padding-left: 16px;
}
.footer-container span {
  color: #ff5400;
}

.footer-socials-icons {
  width: 174.322px;
  height: 24px;
  display: block; /* Ensure the image is treated as a block-level element */
  margin: 0 auto;
}

.footer-logo-text {
  color: #5a5a5d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 32px;
}

.line-container {
  position: relative;
}

.resizable-line {
  width: 66.5%;
  height: 1px;
  resize: horizontal;
  overflow: hidden;
  background: rgba(19, 19, 24, 0.1);
  /* background-color: #ccc; */
  margin: 50px auto;
}
/* footer end here */
.footer-copyright {
  text-align: center;
}
